@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  font-family: Arial, Helvetica, sans-serif;
} */


:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  @apply bg-[var(--background)] text-[var(--foreground)];
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 1s ease-out;
}

.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
  max-height: 100vh;
  width: 100%;
}

.embla__slide {
  flex: 0 0 100%; 
  position: relative; 
}

.embla__slide.clip-left {
  clip-path: polygon(30% 0%, 100% 0%, 100% 100%, 30% 100%);
  /* Adjust '30%' to control how much of the left side is clipped */
}

video {
  transform: scaleX(-1); /* Flip the video feed horizontally */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@layer base {
  :root {
    --background: 0 0% 100%;
    --heading-text: 180 100% 36%;
    --redish-text: 359 100% 64%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --dashboard-background: 0 0% 96%
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 1rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --sidebar-active-tab: 270 95% 85%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --heading-text:180 100% 36%;
    --redish-text: 359 100% 64%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --dashboard-background: 0 0% 10%
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --sidebar-active-tab: 270 79% 60%;
  }
}



@font-face {
  font-family: 'mclawsui-macdonald';
  src: url('./fonts/mclawsui.ttf') format('truetype');
}

@font-face {
  font-family: 'Speedee-Bold-macdonald';
  src: url('./fonts/Speedee-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'BebasNeue-Regular';
  src: url('./fonts/BebasNeue-Regular.ttf') format('truetype');
}

/* animation for menu card */
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.animate-fadeInOut {
  animation: fadeInOut 3s ease-in-out infinite;
}

.cl-internal-bolkfx {
  color: hsl(var(--muted-foreground));
}

.cl-formFieldLabel{
  color: hsl(var(--muted-foreground));
}

.cl-formFieldInput{
  /* background-color: hsl(var(--card)) */
  border-color: hsl(var(--primary));
  color: hsl(var(--primary));
  background-color: hsl(var(--secondary))
}

.cl-footer{
  background: hsl(var(--card));
}

.cl-signIn-emailCode, .cl-signIn-password, .cl-signIn-havingTrouble{
  border-bottom: none;
}

.cl-internal-1pz8pdy{
  color: hsl(var(--muted-foreground));
}

.cl-profileSectionItem__connectedAccounts img{
  background-color: hsl(var(--primary));
  border-radius: 20px;
  padding: 2px;
}

/* .cl-otpCodeFieldInput{
 background-color: hsl(var(--secondary));
 color: hsl(var(--primary));
} */

/* .cl-formButtonPrimary{
  color: hsl(var(--primary));
  border:2px solid red;
} */
/* .cl-internal-1pz8pdy{
  color: hsl(var(--muted-foreground))
} */

/* nav bar of profile section */


.cl-internal-13u79ez{
  background: transparent;
  display: flex;
}

/* .cl-internal-1mm78hd{
  background-color: hsl(var(--primary-foreground));
} */

/* hidding place holder */
.cl-internal-1dauvpw{
  display: none
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
